* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    line-height: 1.5;
    background-color: var(--primary-brown-500);
    color: var(--primary-green-100);
}

.text-contents {
  width: 90%;
  margin: 0 auto;
  max-width: 760px;
}

.logo-container {
  display: flex;
}

.logo-img {
  
}

.logo-title {
  // display: inline-block;
}

.logo-m {
  // height: 80px;
  max-width: 200px;
}

.z-2 {
  z-index: 2;
}

.brick {
  background-image: url('/brick.jpg');
  // 
  border: 4px var(--brick-gray) solid;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(75, 75, 75, 0.3);
  }
}


.btn {
  border: none;
  background: none;
}